In [2]:
import numpy as np
import pandas as pd

In [3]:
cd ../DataSets/

/Users/alexandersu/Documents/Vemgoo/vmg-prelim/DataSets

In [4]:
wind=pd.read_csv('USA_wind.csv')
temp=pd.read_csv('USA_city_temps.csv')
city=pd.read_csv('city_attributes.csv')
rain=pd.read_csv('USA_rain_average.csv')
city_final=pd.read_csv('city_attributes.csv')

In [7]:
#scoring for wind
Jan_score=[]

for x in wind['Jan']:
    if x > 3.49:
        Jan_score.append(float('3')),    
    elif x > 3.013:
        Jan_score.append(float('2.5')),
    elif x > 2.686:
        Jan_score.append(float('2')), 
    elif x > 2.164:
        Jan_score.append(float('1.5')),
    elif x > 1.104:
        Jan_score.append(float('1')), 
    else:
        Jan_score.append(float('.5')),
city["jan_score_wind"]=Jan_score

Feb_score=[]

for x in wind['Feb']:
    if x > 3.49:
        Feb_score.append(float('3')),    
    elif x > 3.013:
        Feb_score.append(float('2.5')),
    elif x > 2.686:
        Feb_score.append(float('2')), 
    elif x > 2.164:
        Feb_score.append(float('1.5')),
    elif x > 1.104:
        Feb_score.append(float('1')), 
    else:
        Feb_score.append(float('.5')),

city["feb_score_wind"]=Feb_score

Mar_score=[]
for x in wind['Mar']:
    if x > 3.49:
        Mar_score.append(float('3')),    
    elif x > 3.013:
        Mar_score.append(float('2.5')),
    elif x > 2.686:
        Mar_score.append(float('2')), 
    elif x > 2.164:
        Mar_score.append(float('1.5')),
    elif x > 1.104:
        Mar_score.append(float('1')), 
    else:
        Mar_score.append(float('.5')),
city["mar_score_wind"]=Mar_score

Apr_score=[]
for x in wind['Apr']:
    if x > 3.49:
        Apr_score.append(float('3')),    
    elif x > 3.013:
        Apr_score.append(float('2.5')),
    elif x > 2.686:
        Apr_score.append(float('2')), 
    elif x > 2.164:
        Apr_score.append(float('1.5')),
    elif x > 1.104:
        Apr_score.append(float('1')), 
    else:
        Apr_score.append(float('.5')),
city["apr_score_wind"]=Apr_score

May_score=[]
for x in wind['May']:
    if x > 3.49:
        May_score.append(float('3')),    
    elif x > 3.013:
        May_score.append(float('2.5')),
    elif x > 2.686:
        May_score.append(float('2')), 
    elif x > 2.164:
        May_score.append(float('1.5')),
    elif x > 1.104:
        May_score.append(float('1')), 
    else:
        May_score.append(float('.5')),
city["may_score_wind"]=May_score

Jun_score=[]
for x in wind['Jun']:
    if x > 3.49:
        Jun_score.append(float('3')),    
    elif x > 3.013:
        Jun_score.append(float('2.5')),
    elif x > 2.686:
        Jun_score.append(float('2')), 
    elif x > 2.164:
        Jun_score.append(float('1.5')),
    elif x > 1.104:
        Jun_score.append(float('1')), 
    else:
        Jun_score.append(float('.5')),
city["jun_score_wind"]=Jun_score

Jul_score=[]
for x in wind['Jul']:
    if x > 3.49:
        Jul_score.append(float('3')),    
    elif x > 3.013:
        Jul_score.append(float('2.5')),
    elif x > 2.686:
        Jul_score.append(float('2')), 
    elif x > 2.164:
        Jul_score.append(float('1.5')),
    elif x > 1.104:
        Jul_score.append(float('1')), 
    else:
        Jul_score.append(float('.5')),
city["jul_score_wind"]=Jul_score

Aug_score=[]
for x in wind['Aug']:
    if x > 3.49:
        Aug_score.append(float('3')),    
    elif x > 3.013:
        Aug_score.append(float('2.5')),
    elif x > 2.686:
        Aug_score.append(float('2')), 
    elif x > 2.164:
        Aug_score.append(float('1.5')),
    elif x > 1.104:
        Aug_score.append(float('1')), 
    else:
        Aug_score.append(float('.5')),
city["aug_score_wind"]=Aug_score

Sep_score=[]
for x in wind['Sep']:
    if x > 3.49:
        Sep_score.append(float('3')),    
    elif x > 3.013:
        Sep_score.append(float('2.5')),
    elif x > 2.686:
        Sep_score.append(float('2')), 
    elif x > 2.164:
        Sep_score.append(float('1.5')),
    elif x > 1.104:
        Sep_score.append(float('1')), 
    else:
        Sep_score.append(float('.5')),
city["sep_score_wind"]=Sep_score

Oct_score=[]
for x in wind['Oct']:
    if x > 3.49:
        Oct_score.append(float('3')),    
    elif x > 3.013:
        Oct_score.append(float('2.5')),
    elif x > 2.686:
        Oct_score.append(float('2')), 
    elif x > 2.164:
        Oct_score.append(float('1.5')),
    elif x > 1.104:
        Oct_score.append(float('1')), 
    else:
        Oct_score.append(float('.5')),
city["oct_score_wind"]=Oct_score

Nov_score=[]
for x in wind['Nov']:
    if x > 3.49:
        Nov_score.append(float('3')),    
    elif x > 3.013:
        Nov_score.append(float('2.5')),
    elif x > 2.686:
        Nov_score.append(float('2')), 
    elif x > 2.164:
        Nov_score.append(float('1.5')),
    elif x > 1.104:
        Nov_score.append(float('1')), 
    else:
        Nov_score.append(float('.5')),
city["nov_score_wind"]=Nov_score


Dec_score=[]
for x in wind['Dec']:
    if x > 3.49:
        Dec_score.append(float('3')),    
    elif x > 3.013:
        Dec_score.append(float('2.5')),
    elif x > 2.686:
        Dec_score.append(float('2')), 
    elif x > 2.164:
        Dec_score.append(float('1.5')),
    elif x > 1.104:
        Dec_score.append(float('1')), 
    else:
        Dec_score.append(float('.5')),
city["dec_score_wind"]=Dec_score

In [8]:
#scoring for temperature
# For January
Jan_score=[]

for x in temp['Jan']:
    if x > 26.667:
        Jan_score.append(float('6'))
    elif x > 23.888:
        Jan_score.append(float('5'))
    elif x > 21.11: 
        Jan_score.append(float('4'))
    elif x > 15.55:
        Jan_score.append(float('3'))
    elif x > 12.7:
        Jan_score.append(float('2'))
    else:
        Jan_score.append(float('1'))
city["jan_score_temp"]=Jan_score    

# For Feb
Feb_score=[]

for x in temp['Feb']:
    if x > 26.667:
        Feb_score.append(float('6'))
    elif x > 23.888:
        Feb_score.append(float('5'))
    elif x > 21.11: 
        Feb_score.append(float('4'))
    elif x > 15.55:
        Feb_score.append(float('3'))
    elif x > 12.7:
        Feb_score.append(float('2'))
    else:
        Feb_score.append(float('1'))
city["feb_score_temp"]=Feb_score      

# For March
Mar_score=[]

for x in temp['Mar']:
    if x > 26.667:
        Mar_score.append(float('6'))
    elif x > 23.888:
        Mar_score.append(float('5'))
    elif x > 21.11: 
        Mar_score.append(float('4'))
    elif x > 15.55:
        Mar_score.append(float('3'))
    elif x > 12.7:
        Mar_score.append(float('2'))
    else:
        Mar_score.append(float('1'))
city["mar_score_temp"]=Mar_score        
        
# For April
Apr_score=[]

for x in temp['Apr']:
    if x > 26.667:
        Apr_score.append(float('6'))
    elif x > 23.888:
        Apr_score.append(float('5'))
    elif x > 21.11: 
        Apr_score.append(float('4'))
    elif x > 15.55:
        Apr_score.append(float('3'))
    elif x > 12.7:
        Apr_score.append(float('2'))
    else:
        Apr_score.append(float('1'))
city["apr_score_temp"]=Apr_score

# For May
May_score=[]

for x in temp['May']:
    if x > 26.667:
        May_score.append(float('6'))
    elif x > 23.888:
        May_score.append(float('5'))
    elif x > 21.11: 
        May_score.append(float('4'))
    elif x > 15.55:
        May_score.append(float('3'))
    elif x > 12.7:
        May_score.append(float('2'))
    else:
        May_score.append(float('1'))
city["may_score_temp"]=May_score

# For June
Jun_score=[]

for x in temp['Jun']:
    if x > 26.667:
        Jun_score.append(float('6'))
    elif x > 23.888:
        Jun_score.append(float('5'))
    elif x > 21.11: 
        Jun_score.append(float('4'))
    elif x > 15.55:
        Jun_score.append(float('3'))
    elif x > 12.7:
        Jun_score.append(float('2'))
    else:
        Jun_score.append(float('1'))
city["jun_score_temp"]=Jun_score

# For July
Jul_score=[]

for x in temp['Jul']:
    if x > 26.667:
        Jul_score.append(float('6'))
    elif x > 23.888:
        Jul_score.append(float('5'))
    elif x > 21.11: 
        Jul_score.append(float('4'))
    elif x > 15.55:
        Jul_score.append(float('3'))
    elif x > 12.7:
        Jul_score.append(float('2'))
    else:
        Jul_score.append(float('1'))
city["jul_score_temp"]=Jul_score

# For August
Aug_score=[]

for x in temp['Aug']:
    if x > 26.667:
        Aug_score.append(float('6'))
    elif x > 23.888:
        Aug_score.append(float('5'))
    elif x > 21.11: 
        Aug_score.append(float('4'))
    elif x > 15.55:
        Aug_score.append(float('3'))
    elif x > 12.7:
        Aug_score.append(float('2'))
    else:
        Aug_score.append(float('1'))
city["aug_score_temp"]=Aug_score

# For September
Sep_score = []

for x in temp['Sep']:
    if x > 26.667:
        Sep_score.append(float('6'))
    elif x > 23.888:
        Sep_score.append(float('5'))
    elif x > 21.11: 
        Sep_score.append(float('4'))
    elif x > 15.55:
        Sep_score.append(float('3'))
    elif x > 12.7:
        Sep_score.append(float('2'))
    else:
        Sep_score.append(float('1'))
city["sep_score_temp"]=Sep_score

# For October
Oct_score = []

for x in temp['Oct']:
    if x > 26.667:
        Oct_score.append(float('6'))
    elif x > 23.888:
        Oct_score.append(float('5'))
    elif x > 21.11: 
        Oct_score.append(float('4'))
    elif x > 15.55:
        Oct_score.append(float('3'))
    elif x > 12.7:
        Oct_score.append(float('2'))
    else:
        Oct_score.append(float('1'))
city["oct_score_temp"]=Oct_score

# For November
Nov_score = []

for x in temp['Nov']:
    if x > 26.667:
        Nov_score.append(float('6'))
    elif x > 23.888:
        Nov_score.append(float('5'))
    elif x > 21.11: 
        Nov_score.append(float('4'))
    elif x > 15.55:
        Nov_score.append(float('3'))
    elif x > 12.7:
        Nov_score.append(float('2'))
    else:
        Nov_score.append(float('1'))
city["nov_score_temp"]=Nov_score

# For December
Dec_score = []

for x in temp['Dec']:
    if x > 26.667:
        Dec_score.append(float('6'))
    elif x > 23.888:
        Dec_score.append(float('5'))
    elif x > 21.11: 
        Dec_score.append(float('4'))
    elif x > 15.55:
        Dec_score.append(float('3'))
    elif x > 12.7:
        Dec_score.append(float('2'))
    else:
        Dec_score.append(float('1'))
city["dec_score_temp"]=Dec_score

In [9]:
city_final['Jan_total_score']=city['jan_score_temp'] + city['jan_score_wind']
city_final['Feb_total_score']=city['feb_score_temp'] + city['feb_score_wind']
city_final['Mar_total_score']=city['mar_score_temp'] + city['mar_score_wind']
city_final['Apr_total_score']=city['apr_score_temp'] + city['apr_score_wind']
city_final['May_total_score']=city['may_score_temp'] + city['may_score_wind']
city_final['Jun_total_score']=city['jun_score_temp'] + city['jun_score_wind']
city_final['Jul_total_score']=city['jul_score_temp'] + city['jul_score_wind']
city_final['Sep_total_score']=city['sep_score_temp'] + city['sep_score_wind']
city_final['Aug_total_score']=city['aug_score_temp'] + city['aug_score_wind']
city_final['Nov_total_score']=city['nov_score_temp'] + city['nov_score_wind']
city_final['Dec_total_score']=city['oct_score_temp'] + city['oct_score_wind']
city_final['Dec_total_score']=city['dec_score_temp'] + city['dec_score_wind']

In [10]:
city_final

,City,Country,Latitude,Longitude,Jan_total_score,Feb_total_score,Mar_total_score,Apr_total_score,May_total_score,Jun_total_score,Jul_total_score,Sep_total_score,Aug_total_score,Nov_total_score,Dec_total_score
0,Vancouver,Canada,49.249660,-123.119339,3.0,1.50,2.00,1.50,1.50,1.75,2.25,2.00,2.25,2.00,1.50
1,Portland,United States,45.523449,-122.676208,3.5,1.50,1.50,1.25,1.50,1.75,1.75,1.75,1.75,1.50,1.50
2,San Francisco,United States,37.774929,-122.419418,4.5,2.75,3.00,3.50,3.25,2.25,2.75,2.25,2.25,2.00,2.25
3,Seattle,United States,47.606209,-122.332069,3.0,1.50,1.50,1.75,1.50,1.75,1.75,1.75,1.75,1.50,1.50
4,Los Angeles,United States,34.052231,-118.243683,4.0,1.00,1.50,1.75,1.75,1.75,1.75,1.75,1.75,1.00,1.25
5,San Diego,United States,32.715328,-117.157257,4.0,1.50,1.50,2.25,1.75,1.75,1.75,1.75,1.75,1.50,1.25
6,Las Vegas,United States,36.174969,-115.137222,3.5,1.75,2.75,3.25,3.25,2.50,3.00,2.50,2.50,1.75,1.00
7,Phoenix,United States,33.448380,-112.074043,4.0,1.50,1.75,2.25,2.00,2.00,2.50,2.00,2.00,1.75,1.25
8,Albuquerque,United States,35.084492,-106.651138,3.5,2.00,2.50,3.25,3.25,2.25,2.75,2.25,2.25,1.50,1.50
9,Denver,United States,39.739151,-104.984703,3.5,2.50,2.50,2.50,1.75,1.75,2.25,2.25,1.75,1.50,1.50
10,San Antonio,United States,29.424120,-98.493629,5.0,3.00,3.25,3.25,3.75,3.00,3.50,2.50,3.00,2.25,1.75
11,Dallas,United States,32.783058,-96.806671,4.5,3.25,3.50,3.75,3.75,4.00,4.00,3.50,3.00,3.50,2.50
12,Houston,United States,29.763281,-95.363274,5.0,3.50,3.75,3.75,3.25,2.50,2.50,2.50,2.50,2.75,2.50
13,Kansas City,United States,39.099731,-94.578568,4.5,3.00,3.00,3.50,3.25,3.50,3.50,3.25,3.00,3.00,2.00
14,Minneapolis,United States,44.979969,-93.263840,4.5,3.00,3.00,3.00,3.50,3.25,3.25,3.25,2.25,3.00,2.50
15,Saint Louis,United States,38.627270,-90.197891,4.5,3.00,3.00,3.50,2.75,2.50,2.50,2.25,2.50,2.50,2.00
16,Chicago,United States,41.850029,-87.650047,5.0,3.00,3.00,3.00,3.00,2.75,3.25,3.25,2.75,3.00,3.00
17,Nashville,United States,36.165890,-86.784439,4.0,2.50,2.50,3.25,2.25,2.00,2.00,1.75,2.00,1.50,2.00
18,Indianapolis,United States,39.768379,-86.158043,5.0,3.00,3.00,3.25,3.25,2.25,2.75,2.25,1.75,2.50,2.50
19,Atlanta,United States,33.749001,-84.387978,3.5,2.00,2.25,2.25,2.25,2.00,2.00,1.75,2.00,1.75,1.50
20,Detroit,United States,42.331429,-83.045753,4.5,3.00,2.50,3.00,3.00,2.75,2.25,2.25,2.25,3.00,2.50
21,Jacksonville,United States,30.332180,-81.655647,6.0,3.00,3.25,3.25,2.75,2.50,3.00,2.50,2.50,3.25,2.25
22,Charlotte,United States,35.227089,-80.843132,3.5,2.00,2.25,2.75,2.25,2.00,2.00,2.25,2.00,1.50,1.00
23,Miami,United States,25.774269,-80.193657,7.5,3.25,3.25,4.00,3.50,3.00,3.00,3.00,3.00,3.75,2.75
24,Pittsburgh,United States,40.440620,-79.995888,4.0,2.50,2.50,2.75,2.25,1.75,1.75,1.75,1.75,2.00,2.00
25,Toronto,Canada,43.700111,-79.416298,5.0,3.00,3.00,3.00,3.00,2.75,2.75,2.75,2.75,3.00,3.00
26,Philadelphia,United States,39.952339,-75.163788,4.0,2.50,2.50,2.75,2.25,1.75,2.50,2.25,1.75,2.00,1.50
27,New York,United States,40.714272,-74.005966,5.0,3.00,3.00,3.25,2.25,2.25,2.50,2.75,2.25,3.00,2.50
28,Montreal,Canada,45.508839,-73.587807,5.0,3.00,3.00,3.00,3.50,3.25,3.25,3.25,3.25,3.00,3.00
29,Boston,United States,42.358429,-71.059769,5.0,3.00,3.00,3.00,3.00,2.75,2.75,2.75,2.25,3.00,2.50
30,Beersheba,Israel,31.251810,34.791302,3.0,1.25,2.00,2.25,1.75,1.75,2.00,1.75,2.00,1.50,1.25
31,Tel Aviv District,Israel,32.083328,34.799999,6.0,2.00,2.75,2.75,2.75,2.50,3.00,3.00,3.00,2.25,2.00
32,Eilat,Israel,29.558050,34.948212,6.0,2.00,2.75,2.75,4.00,4.00,4.00,4.00,4.00,3.25,2.50
33,Haifa,Israel,32.815559,34.989170,7.0,3.75,3.75,3.75,3.25,3.00,3.00,3.00,3.00,3.25,3.25
34,Nahariyya,Israel,33.005859,35.094090,7.0,3.00,3.75,3.25,2.25,2.50,3.00,3.00,2.50,3.25,3.00
35,Jerusalem,Israel,31.769039,35.216331,4.0,1.50,1.75,1.75,1.75,2.00,2.00,2.00,2.00,1.75,1.50

In [12]:
#scoring for rain
Jan_score=[]

for x in rain['Jan']:
    if x > 3.49:
        Jan_score.append(float('3')),    
    elif x > 3.013:
        Jan_score.append(float('2.5')),
    elif x > 2.686:
        Jan_score.append(float('2')), 
    elif x > 2.164:
        Jan_score.append(float('1.5')),
    elif x > 1.104:
        Jan_score.append(float('1')), 
    else:
        Jan_score.append(float('.5')),
city["jan_score_rain"]=Jan_score

Feb_score=[]

for x in rain['Feb']:
    if x > 3.49:
        Feb_score.append(float('3')),    
    elif x > 3.013:
        Feb_score.append(float('2.5')),
    elif x > 2.686:
        Feb_score.append(float('2')), 
    elif x > 2.164:
        Feb_score.append(float('1.5')),
    elif x > 1.104:
        Feb_score.append(float('1')), 
    else:
        Feb_score.append(float('.5')),

city["feb_score_rain"]=Feb_score

Mar_score=[]
for x in rain['Mar']:
    if x > 3.49:
        Mar_score.append(float('3')),    
    elif x > 3.013:
        Mar_score.append(float('2.5')),
    elif x > 2.686:
        Mar_score.append(float('2')), 
    elif x > 2.164:
        Mar_score.append(float('1.5')),
    elif x > 1.104:
        Mar_score.append(float('1')), 
    else:
        Mar_score.append(float('.5')),
city["mar_score_rain"]=Mar_score

Apr_score=[]
for x in rain['Apr']:
    if x > 3.49:
        Apr_score.append(float('3')),    
    elif x > 3.013:
        Apr_score.append(float('2.5')),
    elif x > 2.686:
        Apr_score.append(float('2')), 
    elif x > 2.164:
        Apr_score.append(float('1.5')),
    elif x > 1.104:
        Apr_score.append(float('1')), 
    else:
        Apr_score.append(float('.5')),
city["apr_score_rain"]=Apr_score

May_score=[]
for x in rain['May']:
    if x > 3.49:
        May_score.append(float('3')),    
    elif x > 3.013:
        May_score.append(float('2.5')),
    elif x > 2.686:
        May_score.append(float('2')), 
    elif x > 2.164:
        May_score.append(float('1.5')),
    elif x > 1.104:
        May_score.append(float('1')), 
    else:
        May_score.append(float('.5')),
city["may_score_rain"]=May_score

Jun_score=[]
for x in rain['Jun']:
    if x > 3.49:
        Jun_score.append(float('3')),    
    elif x > 3.013:
        Jun_score.append(float('2.5')),
    elif x > 2.686:
        Jun_score.append(float('2')), 
    elif x > 2.164:
        Jun_score.append(float('1.5')),
    elif x > 1.104:
        Jun_score.append(float('1')), 
    else:
        Jun_score.append(float('.5')),
city["jun_score_rain"]=Jun_score

Jul_score=[]
for x in rain['Jul']:
    if x > 3.49:
        Jul_score.append(float('3')),    
    elif x > 3.013:
        Jul_score.append(float('2.5')),
    elif x > 2.686:
        Jul_score.append(float('2')), 
    elif x > 2.164:
        Jul_score.append(float('1.5')),
    elif x > 1.104:
        Jul_score.append(float('1')), 
    else:
        Jul_score.append(float('.5')),
city["jul_score_rain"]=Jul_score

Aug_score=[]
for x in rain['Aug']:
    if x > 3.49:
        Aug_score.append(float('3')),    
    elif x > 3.013:
        Aug_score.append(float('2.5')),
    elif x > 2.686:
        Aug_score.append(float('2')), 
    elif x > 2.164:
        Aug_score.append(float('1.5')),
    elif x > 1.104:
        Aug_score.append(float('1')), 
    else:
        Aug_score.append(float('.5')),
city["aug_score_rain"]=Aug_score

Sep_score=[]
for x in rain['Sep']:
    if x > 3.49:
        Sep_score.append(float('3')),    
    elif x > 3.013:
        Sep_score.append(float('2.5')),
    elif x > 2.686:
        Sep_score.append(float('2')), 
    elif x > 2.164:
        Sep_score.append(float('1.5')),
    elif x > 1.104:
        Sep_score.append(float('1')), 
    else:
        Sep_score.append(float('.5')),
city["sep_score_rain"]=Sep_score

Oct_score=[]
for x in rain['Oct']:
    if x > 3.49:
        Oct_score.append(float('3')),    
    elif x > 3.013:
        Oct_score.append(float('2.5')),
    elif x > 2.686:
        Oct_score.append(float('2')), 
    elif x > 2.164:
        Oct_score.append(float('1.5')),
    elif x > 1.104:
        Oct_score.append(float('1')), 
    else:
        Oct_score.append(float('.5')),
city["oct_score_rain"]=Oct_score

Nov_score=[]
for x in rain['Nov']:
    if x > 3.49:
        Nov_score.append(float('3')),    
    elif x > 3.013:
        Nov_score.append(float('2.5')),
    elif x > 2.686:
        Nov_score.append(float('2')), 
    elif x > 2.164:
        Nov_score.append(float('1.5')),
    elif x > 1.104:
        Nov_score.append(float('1')), 
    else:
        Nov_score.append(float('.5')),
city["nov_score_rain"]=Nov_score


Dec_score=[]
for x in rain['Dec']:
    if x > 3.49:
        Dec_score.append(float('3')),    
    elif x > 3.013:
        Dec_score.append(float('2.5')),
    elif x > 2.686:
        Dec_score.append(float('2')), 
    elif x > 2.164:
        Dec_score.append(float('1.5')),
    elif x > 1.104:
        Dec_score.append(float('1')), 
    else:
        Dec_score.append(float('.5')),
city["dec_score_rain"]=Dec_score

ValueError: Length of values does not match length of index

In [13]:
rain.shape

(29, 16)

In [14]:
wind.shape

(36, 16)

In [15]:
city.shape

(36, 28)

In [17]:
city_final.shape

(36, 15)

In [18]:
rain

,City,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Country,Latitude,Longitude
0,Vancouver,0.269086,0.281028,0.350000,0.314167,0.221237,0.255000,0.125269,0.158065,0.204167,0.269972,0.261667,0.331989,Canada,49.249660,-123.119339
1,Portland,0.283871,0.303783,0.322312,0.340556,0.234677,0.199167,0.043817,0.120161,0.198611,0.303489,0.308889,0.377419,United States,45.523449,-122.676208
2,Seattle,0.274731,0.345449,0.365054,0.313889,0.209140,0.178611,0.069624,0.121505,0.219167,0.325069,0.288611,0.349731,United States,47.606209,-122.332069
3,San Diego,0.085484,0.078310,0.058333,0.090000,0.153495,0.045556,0.034946,0.029570,0.038056,0.064509,0.066944,0.118548,United States,32.715328,-117.157257
4,Phoenix,0.072849,0.034870,0.033871,0.027778,0.044624,0.026389,0.092473,0.143548,0.096667,0.039715,0.035833,0.064785,United States,33.448380,-112.074043
5,Albuquerque,0.084140,0.059397,0.039516,0.058056,0.102151,0.110833,0.156720,0.142473,0.164444,0.075069,0.060000,0.061828,United States,35.084492,-106.651138
6,Denver,0.145430,0.153369,0.122043,0.189722,0.303763,0.205000,0.199194,0.216129,0.169722,0.085170,0.058333,0.118817,United States,39.739151,-104.984703
7,San Antonio,0.154839,0.107270,0.138172,0.186944,0.229570,0.140556,0.076344,0.147043,0.187778,0.117309,0.130000,0.176075,United States,29.424120,-98.493629
8,Dallas,0.108871,0.128546,0.173118,0.201389,0.241667,0.147778,0.103763,0.185753,0.148611,0.120523,0.138056,0.134140,United States,32.783058,-96.806671
9,Houston,0.187097,0.170213,0.201882,0.230000,0.224731,0.227778,0.154570,0.200000,0.189167,0.153811,0.130833,0.179839,United States,29.763281,-95.363274
10,Minneapolis,0.183871,0.159870,0.179301,0.280278,0.253226,0.249444,0.127419,0.199194,0.198333,0.190312,0.171944,0.252151,United States,44.979969,-93.263840
11,Chicago,0.205914,0.138889,0.156452,0.208056,0.186828,0.256389,0.119355,0.160484,0.147778,0.170569,0.154167,0.186828,United States,41.850029,-87.650047
12,Nashville,0.113172,0.146277,0.166129,0.176389,0.133065,0.162222,0.119624,0.174462,0.095000,0.159780,0.108611,0.154032,United States,36.165890,-86.784439
13,Indianapolis,0.184140,0.171690,0.195699,0.231944,0.197312,0.188056,0.082527,0.143280,0.133889,0.194444,0.116111,0.218011,United States,39.768379,-86.158043
14,Atlanta,0.156452,0.186761,0.179032,0.225000,0.159409,0.212222,0.159946,0.201882,0.155833,0.087006,0.163889,0.179301,United States,33.749001,-84.387978
15,Detroit,0.268280,0.191194,0.193280,0.224444,0.201344,0.235833,0.123387,0.187903,0.154722,0.202020,0.206389,0.227151,United States,42.331429,-83.045753
16,Jacksonville,0.159677,0.140957,0.133333,0.137778,0.185215,0.243889,0.145699,0.235484,0.233889,0.108356,0.096944,0.122849,United States,30.332180,-81.655647
17,Charlotte,0.140591,0.156915,0.172581,0.222778,0.188172,0.213333,0.153226,0.223925,0.203889,0.129477,0.117222,0.174462,United States,35.227089,-80.843132
18,Miami,0.276613,0.081856,0.113710,0.161389,0.160484,0.336944,0.259677,0.266398,0.260278,0.241965,0.278889,0.273387,United States,25.774269,-80.193657
19,Pittsburgh,0.298925,0.247045,0.242204,0.222778,0.201882,0.250833,0.138978,0.148925,0.128889,0.204775,0.171944,0.257527,United States,40.440620,-79.995888
20,Toronto,0.316398,0.288121,0.240591,0.221667,0.178226,0.228611,0.115860,0.174731,0.131667,0.201791,0.202500,0.291935,Canada,43.700111,-79.416298
21,Philadelphia,0.181452,0.177896,0.188172,0.192222,0.216935,0.250556,0.199194,0.180108,0.149444,0.166667,0.116667,0.202688,United States,39.952339,-75.163788
22,Montreal,0.329032,0.223109,0.241935,0.205833,0.198925,0.195556,0.125269,0.133602,0.108889,0.175161,0.229444,0.382527,Canada,45.508839,-73.587807
23,Boston,0.202419,0.223109,0.199731,0.210556,0.209409,0.191944,0.190054,0.123925,0.135000,0.193526,0.152222,0.211559,United States,42.358429,-71.059769
24,Beersheba,0.179301,0.106087,0.137903,0.099722,0.050538,0.051667,0.084409,0.037903,0.042778,0.043618,0.146389,0.154839,Israel,31.251810,34.791302
25,Eilat,0.034140,0.066489,0.049194,0.040833,0.004570,0.001944,0.000806,0.000806,0.001111,0.008494,0.034444,0.022581,Israel,29.558050,34.948212
26,Haifa,0.143011,0.096631,0.086828,0.074444,0.032258,0.012778,0.012634,0.009946,0.010000,0.046373,0.079444,0.159677,Israel,32.815559,34.989170
27,Nahariyya,0.155108,0.128251,0.094355,0.090833,0.038710,0.021667,0.010753,0.008333,0.016111,0.047291,0.085278,0.171237,Israel,33.005859,35.094090
28,Jerusalem,0.152957,0.113771,0.069355,0.064444,0.040591,0.014167,0.008065,0.008065,0.016667,0.075987,0.134444,0.145968,Israel,31.769039,35.216331